name: Deploy orchestration

on:
  workflow_dispatch:
    inputs:
      confirm_apply:
        description: "Check to confirm you want to run terraform apply"
        required: true
        type: boolean

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment:
      name: production  # Must be set up in repo settings with required reviewers

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Conditional Terraform Apply
        if: ${{ github.event.inputs.confirm_apply == 'true' }}
        run: terraform apply -auto-approve
